@font-face {
    font-family: Caros;
    src: url('../assets/caros-cufonfonts-webfont/cretype  Caros Bold.woff');
}

@font-face {
    font-family: CarosLight;
    src: url('../assets/caros-cufonfonts-webfont/cretype  Caros Light.woff');
}

@font-face {
    font-family: PoppinsBlack;
    src: url('../assets/poppins/Poppins-Bold.ttf');
}

@font-face {
    font-family: PoppinsMedium;
    src: url('../assets/poppins/Poppins-Medium.ttf');
}

html {
    overflow-x: hidden;
    --website-official-color: #370c50;
    --log-color: #f01515;
    --success-color: #12a912;
    --warning-color: #fa9100;
    --bg-official-color: #fcf8f8;
    --heading-size: 40px;
    --sub-heading-size: 25px;
    --button-font-size: 20px;
    --header-font-size: 16px;
    --curvy-right: 45px;
    --margin-top: 55px;
    --margin-right: 60px;
    --margin-left: 60px;
    --card-height: 401px;
    --card-width: 260px;
    --border-radius: 32px;
}

body {
    margin: 0;
    background-color: #fcf8f8;
    -webkit-font-smoothing: antialiased;
    -webkit-tap-highlight-color: transparent;
}

* {
    font-family: Caros;
    box-sizing: border-box;
}

::selection {
    color: white;
    background-color: red;
}

